<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.labidi.wafa.secondchance">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.camera.front"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_x"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <provider
            android:name=".Utils.SearchQueryProvider"
            android:authorities="com.labidi.wafa.secondchance.Utils.SearchQueryProvider" />

        <activity
            android:name=".LoginActivity"
            android:screenOrientation="sensorPortrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".TakePhotoActivity"
            android:theme="@style/AppTheme.TransparentActivity.FullScreen" />
        <activity android:name=".HomeActivity" />
        <activity android:name=".MainActivity" />
        <activity
            android:name=".SearchPeoplesActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.labidi.wafa.secondchance"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/path" />
        </provider>

        <activity
            android:name=".UserProfileActivity"
            android:exported="true"
            android:parentActivityName=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PendingFriendRequestActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".FriendsListActivity"
            android:parentActivityName=".MainActivity" />

        <service
            android:name=".Utils.FriendsWatcherService"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <activity android:name=".FirstLoginActivity" />
        <activity android:name=".PublishActivity" />
        <activity
            android:name=".CommentActivity"
            android:parentActivityName=".MainActivity"
            android:theme="@android:style/Theme.Material.Light.Dialog.NoActionBar" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name=".FilterActivity"
            android:theme="@style/AppTheme" />
    </application>

</manifest>