<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.esprit.secondchance">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.camera.front"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_x"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:largeHeap="true"

        >
        <provider
            android:name="com.esprit.secondchance.Utils.SearchQueryProvider"
            android:authorities="com.esprit.secondchance.Utils.SearchQueryProvider" />

        <activity
            android:windowSoftInputMode="adjustResize|stateHidden"
            android:name="com.esprit.secondchance.LoginActivity"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name="com.esprit.secondchance.TakePhotoActivity"
            android:theme="@style/AppTheme.TransparentActivity.FullScreen" />
        <activity android:name="com.esprit.secondchance.MainActivity" />
        <activity
            android:name="com.esprit.secondchance.SearchPeoplesActivity"
            android:launchMode="singleTop"
            android:parentActivityName="com.esprit.secondchance.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.esprit.secondchance"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/path" />
        </provider>

        <activity
            android:name="com.esprit.secondchance.UserProfileActivity"
            android:exported="true"
            android:parentActivityName="com.esprit.secondchance.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.esprit.secondchance.PendingFriendRequestActivity"
            android:parentActivityName="com.esprit.secondchance.MainActivity" />
        <activity
            android:name="com.esprit.secondchance.FriendsListActivity"
            android:parentActivityName="com.esprit.secondchance.MainActivity" />

        <service
            android:name="com.esprit.secondchance.Utils.FriendsWatcherService"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <activity android:name="com.esprit.secondchance.FirstLoginActivity" />
        <activity
            android:name="com.esprit.secondchance.PublishActivity"
            android:theme="@style/SplashTheme">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />

            </intent-filter>
        </activity>
        <activity
            android:name="com.esprit.secondchance.CommentActivity"
            android:parentActivityName="com.esprit.secondchance.MainActivity"
            android:theme="@android:style/Theme.Material.Light.Dialog.NoActionBar" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.esprit.secondchance.FilterActivity"
            android:theme="@style/AppTheme" />
    </application>

</manifest>